files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/change-permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash      
      docker exec $(docker ps -aqf "name=php-app") chown -R www-data:www-data /var/www/html/web/app/uploads
      docker exec $(docker ps -aqf "name=php-app") chown -R root:staff /usr/local/etc/php-fpm.d

commands:
    01_create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true

