files:
  /etc/php.d/webapp.ini:
    mode: "000644"
    owner: root
    group: root
    content: |
      date.timezone="Asia/Jerusalem"
  "/opt/elasticbeanstalk/hooks/appdeploy/post/change-timezone.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash      
      docker exec $(docker ps -aqf "name=php-app") ln -sf /usr/share/zoneinfo/Asia/Jerusalem /etc/localtime
      docker exec $(docker ps -aqf "nginx") ln -sf /usr/share/zoneinfo/Asia/Jerusalem /etc/localtime

commands:
  01_set_ams_timezone:
    command:
      - sed -i 's/UTC/Asia\/Jerusalem/g' /etc/sysconfig/clock
      - ln -sf /usr/share/zoneinfo/Asia/Jerusalem /etc/localtime


